HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### macOS ###
.DS_Store

### NPM ###
src/main/resources/static/node_modules
src/main/resources/static/node