<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="py-5 text-center" th:if="${error}">
        <p class="lead">アイタイEメール確認</p>
        <div class="alert alert-danger" role="alert">
            Eメールのリンクが正しくではありません。
        </div>
    </div>
    <div class="py-5 text-center" th:if="${error == null}">
        <p class="lead">アイタイEメール確認</p>
        <h2>
            Eメールの確認ができました。<span th:text="${numberOfUser}"></span>番目の会員、
            <span th:text="${nickname}"></span>さま！ご登録ありがとうございます。
        </h2>
        <small class="text-info">これから会員登録の時、使用したEメールまたはニックネームとパスワードでログインできます。</small>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</body>
</html>