<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
     <div class="container">
         <div class="py-5 text-center">
             <h2>会員登録</h2>
         </div>
         <div class="row justify-content-center">
             <form class="needs-validation col-sm-6" th:action="@{/sign-up}" th:object="${signUpForm}" method="post" novalidate>
                 <div class="form-group">
                     <label for="email">Eメール</label>
                     <input id="email" type="email" th:field="*{email}" class="form-control" aria-describedby="emailHelp" required>
                     <small id="emailHelp" class="form-text text-muted">
                         入力例）-----@-----.---
                     </small>
                     <small class="invalid-feedback">Eメールを入力してください。</small>
                     <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                 </div>

                 <div class="form-group">
                     <label for="nickname">ニックネーム</label>
                     <input id="nickname" type="text" th:field="*{nickname}" class="form-control" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                     <small class="invalid-feedback">ニックネームを入力してくださ。</small>
                     <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
                 </div>

                 <div class="form-group">
                     <label for="password">パスワード</label>
                     <input id="password" type="password" th:field="*{password}" class="form-control"
                            aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                     <small class="invalid-feedback">パスワードを入力してくださ。</small>
                     <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                 </div>

                 <div class="form-group">
                     <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">登録</button>
                     <small id="submitHelp" class="form-text text-muted">
                         <a href="#">利用約款</a>
                     </small>
                 </div>
             </form>
         </div>
         <div th:replace="fragments.html :: footer"></div>
         </footer>
     </div>
    <script th:replace="fragments.html :: form-validation"></script>
</body>
</html>