<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        アイタイ会員登録を完了するためには<a th:href="@{/check-email}" class="alert-link">アカウント認証Eメールを確認</a>してください。
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>アイタイ</h2>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
</body>
</html>